@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

:root {
  --main-color: #542ba4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Onest", sans-serif;
  font-weight: 700;
  color: #f9f9f9;
  color-scheme: dark light;
  overflow-x: hidden;
  font-size: 1.2rem;
}
body {
  max-width: 940px;
  margin: 0 auto;
  text-align: justify;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  cursor: pointer;
}
