@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

:root {
  --main-color: #542ca5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Onest", sans-serif;
  font-weight: 700;
  color: #f9f9f9;
  overflow-x: hidden;
  font-size: 1.2rem;
  scroll-behavior: smooth;
  background-color: #121212;
}
body {
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: smooth;
  }
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  cursor: pointer;
}

.skill {
  object-fit: contain;
  max-width: 4.5rem;
}

.hero-img {
  animation: updown 2.5s infinite alternate;
}
@keyframes updown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(20px);
  }
}

/* POST STYLES */

.postTitle {
  font-size: 1.8rem;
  margin: 1rem 0;
  color: var(--main-color);
  font-weight: 900;
}

.postSubtitle {
  color: #9e8ebe;
  font-size: 1.5rem;
  margin: 1rem 0;
  font-weight: 900;
}

.postText {
  padding: 1rem 0;
}
