---
import Layout from "../layouts/Layout.astro";
import FreelanceIcon from "../components/icons/FreelanceIcon.astro";
import Section from "../components/Section.astro";
import HeadingSecondary from "../components/HeadingSecondary.astro";
import SectionHeader from "../components/SectionHeader.astro";
import "../styles/global.css";

import AccessibilyIcon from "../components/icons/AccesibilyIcon.astro";
import InteractiveIcon from "../components/icons/InteractiveIcon.astro";
import MobileIcon from "../components/icons/MobileIcon.astro";
import PerformanceIcon from "../components/icons/PerformanceIcon.astro";
import SupportIcon from "../components/icons/SupportIcon.astro";
import SEOIcon from "../components/icons/SEOIcon.astro";
import DesignIcon from "../components/icons/DesignIcon.astro";
import SecureIcon from "../components/icons/SecureIcon.astro";
---

<Layout title="">
  <Section id="freelance" class="">
    <SectionHeader>
      <FreelanceIcon />
      <HeadingSecondary text="¿Estás pensando en crear una web?" /> 
    </SectionHeader> 
    <div
      class="grid h-full grid-cols-10 grid-rows-3 gap-4 mt-6 max-lg:w-[95%] max-md:grid-cols-2 max-md:grid-rows-5 mx-auto"
    >
      <div class="glass col-span-4 row-span-3 glass container">
        <header>
          <DesignIcon />
          <h3>Diseño Personalizado</h3>
        </header>
        <p>Llevo a cabo tanto el proceso de diseño como el de desarrollo.</p>
        <p>
          Tras una consulta sobre cómo tiene planteado el diseño, realizo un
          boceto conforme a sus gustos, pudiendo modificar cualquier parte.
        </p>
      </div>
      <div class="xl:col-span-4 col-span-3 row-span-1 glass container">
        <header>
          <SecureIcon />
          <h3>Seguridad</h3>
        </header>
        <p>Protocolo de seguridad HTTPS con certificado SSL.</p>
      </div>
      <div class="xl:col-span-2 col-span-3 row-span-1 glass container">
        <header>
          <AccessibilyIcon />
          <h3>Accesibilidad</h3>
        </header>
        <p>Cumple todos los requisitos de accesibilidad (WCAG).</p>
      </div>
      <div class="col-span-3 row-span-2 glass container">
        <header>
          <MobileIcon />
          <h3>Diseño Responsivo</h3>
        </header>
        <p>
          La web se adapta perfectamente a cualquier tipo de dispositivo, tanto
          escritorio, tablets o smartphones.
        </p>
      </div>
      <div class="col-span-3 row-span-2 glass container">
        <header>
          <PerformanceIcon />
          <h3>Rendimiento</h3>
        </header>
        <p>
          Al usar las últimas tecnologías, cada web cuenta con un rendimiento
          máximo, para que el usuario pueda navegar sin interrupciones y
          ofreciendo la mejor experiencia.
        </p>
      </div>
      <div class="col-span-4 row-span-1 glass container">
        <header>
          <SupportIcon />
          <h3>Soporte Técnico</h3>
        </header>
        <p>
          Soporte técnico continuo para resolver cualquier problema y asegurar
          el perfecto funcionamiento de la web.
        </p>
      </div>
      <div class="col-span-6 row-span-1 glass container">
        <header>
          <SEOIcon />
          <h3>Optimización SEO</h3>
        </header>
        <p>
          Implementación de mejoras de visibilidad para los motores de búsqueda,
          para atraer a más tráfico orgánico.
        </p>
      </div>
    </div>
    <footer class='mt-9'>
      <h5>¿Listo para llevar tu presencia en línea al siguiente nivel? ¡Contáctame hoy mismo para discutir tu proyecto!</p>
    </footer>
  </Section>
</Layout>
<style>
  @tailwind utilities;

  .container {
    @apply min-h-[150px] h-full glass-dark rounded-[2rem] px-3 max-md:col-auto;
  }

  p {
    @apply text-sm text-zinc-400 text-center;
  }

  header {
    @apply flex items-center justify-center gap-x-2 py-3;
  }

  svg,
  h3 {
    @apply text-main;
  }

  @layer utilities {
    .glass-dark {
      background: #010101;
      background: radial-gradient(
        circle,
        rgba(5, 5, 5, 0.1) 0%,
        rgba(8, 8, 8, 0.1) 95%
      );

      -webkit-backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.1);
    }
  }
</style>
