---
import Layout from "../layouts/Layout.astro";
import FreelanceIcon from "../components/icons/FreelanceIcon.astro";
import Section from "../components/Section.astro";
import HeadingSecondary from "../components/HeadingSecondary.astro";
import SectionHeader from "../components/SectionHeader.astro";
import "../styles/global.css";
import Socials from "../components/Socials.astro";

import AccessibilyIcon from "../components/icons/AccesibilyIcon.astro";
import MobileIcon from "../components/icons/MobileIcon.astro";
import PerformanceIcon from "../components/icons/PerformanceIcon.astro";
import SupportIcon from "../components/icons/SupportIcon.astro";
import SEOIcon from "../components/icons/SEOIcon.astro";
import DesignIcon from "../components/icons/DesignIcon.astro";
import SecureIcon from "../components/icons/SecureIcon.astro";
---

<Layout title="Freelance">
  <Section id="freelance" class="">
    <SectionHeader>
      <div
        class="flex items-center mx-auto gap-x-4 max-md:flex-col max-md:text-center"
      >
        <FreelanceIcon />
        <HeadingSecondary text="¿Estás pensando en crear una web?" />
      </div>
    </SectionHeader>
    <section
      class="grid mx-auto mt-6 h-full w-[90%] grid-cols-10 grid-rows-4 gap-4 max-lg:w-[95%] max-md:grid-cols-2 max-md:grid-rows-5 max-sm:grid-cols-1"
    >
      <div class="glass col-span-4 row-span-2 glass container">
        <header>
          <DesignIcon />
          <h3>Diseño Personalizado</h3>
        </header>
        <p>
          Llevo a cabo tanto el proceso de diseño como el de desarrollo. Tras
          una consulta sobre cómo tiene pensado el diseño de la interfaz,
          realizo un boceto conforme a sus gustos, pudiendo modificar cualquier
          parte.
          <br />
        </p>
      </div>
      <div class="xl:col-span-4 col-span-3 row-span-1 glass container">
        <header>
          <SecureIcon />
          <h3>Seguridad</h3>
        </header>
        <p>Protocolo de seguridad HTTPS con certificado SSL.</p>
      </div>
      <div class="xl:col-span-2 col-span-3 row-span-1 glass container">
        <header>
          <AccessibilyIcon />
          <h3>Accesibilidad</h3>
        </header>
        <p>Cumple todos los requisitos de accesibilidad (WCAG).</p>
      </div>
      <div class="col-span-3 row-span-2 glass container">
        <header>
          <MobileIcon />
          <h3>Diseño Responsivo</h3>
        </header>
        <p>
          La web se adapta perfectamente a cualquier tipo de dispositivo, tanto
          escritorio, tablets o smartphones.
        </p>
      </div>
      <div class="col-span-3 row-span-2 glass container">
        <header class="">
          <SupportIcon />
          <h3>Soporte técnico</h3>
        </header>
        <p>
          Soporte técnico continuo para resolver cualquier problema y asegurar
          el perfecto funcionamiento de la web.
        </p>
      </div>
      <div class="col-span-4 row-span-2 glass container">
        <header>
          <PerformanceIcon />
          <h3>Rendimiento</h3>
        </header>
        <p class="px-1">
          Al usar las últimas tecnologías, cada web cuenta con un rendimiento
          máximo, para que el usuario pueda navegar sin interrupciones y
          ofreciendo la mejor experiencia.
        </p>
      </div>
      <div class="col-span-6 row-span-1 glass container">
        <header>
          <SEOIcon />
          <h3>Optimización SEO</h3>
        </header>
        <p>
          Implementación de mejoras de visibilidad para los motores de búsqueda,
          para atraer a más tráfico orgánico.
        </p>
      </div>
    </section>
    <footer
      class="mt-9 flex flex-col items-center justify-center mx-auto w-[90%] max-sm:w-[95%] gap-4"
    >
      <h5 class="max-sm:text-[.9rem]">
        ¿Listo para llevar tu presencia en línea al siguiente nivel? ¡Contáctame
        hoy mismo para comenzar tu proyecto!
      </h5>
      <Socials />
    </footer>
  </Section>
</Layout>
<style>
  @tailwind utilities;

  .container {
    @apply min-h-[150px] flex flex-col h-full glass-dark rounded-[2rem] px-3 max-md:col-auto relative;
  }

  p {
    @apply text-sm text-zinc-200 text-center text-pretty my-auto max-md:text-[.85rem] max-sm:text-sm;
  }

  header {
    @apply flex items-center justify-center gap-x-2 pt-3 -mb-3 max-sm:mb-1;
  }

  svg,
  h3 {
    @apply text-main max-sm:text-[.9rem];
  }

  @layer utilities {
    .glass-dark {
      background: #010101;
      background: radial-gradient(
        circle,
        rgba(5, 5, 5, 0.1) 0%,
        rgba(8, 8, 8, 0.1) 95%
      );

      -webkit-backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.1);
    }
  }
</style>
