---
import Layout from "../layouts/Layout.astro";
import FreelanceIcon from "../components/icons/FreelanceIcon.astro";
import Section from "../components/Section.astro";
import HeadingSecondary from "../components/HeadingSecondary.astro";
import SectionHeader from "../components/SectionHeader.astro";
import "../styles/global.css";
---

<Layout title="Información de Freelance">
  <Section id="freelance" class="">
    <SectionHeader>
      <FreelanceIcon />
      <HeadingSecondary text="¿Estás pensando en crear una web?" />
    </SectionHeader>

    <div
      class="grid h-full grid-cols-10 grid-rows-4 gap-4 mt-6 max-lg:w-[95%] max-md:grid-cols-2 max-md:grid-rows-5"
    >
      <div class="glass col-span-4 row-span-3 glass container">Hola</div>
      <div class="xl:col-span-4 col-span-3 row-span-1 glass container">
        Hola
      </div>
      <div class="xl:col-span-2 col-span-3 row-span-1 glass container">
        Hola
      </div>
      <div class="col-span-3 row-span-2 glass container">Hola</div>
      <div class="col-span-3 row-span-2 glass container">Hola</div>
      <div class="col-span-4 row-span-1 glass container">Hola</div>
      <div class="col-span-6 row-span-1 glass container">Hola</div>
    </div>
  </Section>
</Layout>
<style>
  @tailwind utilities;
  .container {
    @apply min-h-[150px]  h-full glass-dark rounded-[2rem] px-3 max-md:col-auto;
  }

  @layer utilities {
    .glass-dark {
      background: #010101;
      background: radial-gradient(
        circle,
        rgba(1, 1, 1, 0.1) 0%,
        rgba(8, 8, 8, 0.1) 95%
      );

      -webkit-backdrop-filter: blur(10px);
      outline: 1px solid rgba(255, 255, 255, 0.1);
    }
  }
</style>
