---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import HeadingSecondary from "../components/HeadingSecondary.astro";
import Section from "../components/Section.astro";
import SectionHeader from "../components/SectionHeader.astro";
import Projects from "../components/Projects.astro";
import AboutIcon from "../components/icons/AboutIcon.astro";
import SkillsIcon from "../components/icons/SkillsIcon.astro";
import ProjectsIcon from "../components/icons/ProjectsIcon.astro";
---

<Layout title="Frank.dev">
  <div>
    <img
      src="./Hero-Img.webp"
      alt="Hero Image"
      width="250"
      height="auto"
      class="hero-img"
    />
  </div>
  <h1 class="text-5xl">Hi there! Im Frank!</h1>
  <span class="bg-white text-main text-xl rounded-md py-1 px-2 m-3 font-black"
    >Frontend Developer</span
  >
  <Section id="about">
    <SectionHeader>
      <AboutIcon />
      <HeadingSecondary text="About" />
    </SectionHeader>
    <p>
      Mi nombre es Francisco Muñoz, aunque en redes soy Frank, en las que me
      dedico a crear contenido sobre programación. Soy estudiante del Grado
      Superior de Desarrollo de Aplicaciones Web, además de formarme mediante
      cursos certificados.<br />
      Descubrí la programación estudiando la carrera de Ingeniería Electrónica Industrial,
      pero decidí emprender mi camino hacia el desarrollo.
    </p>
    <p>
      Además, como guitarrista, atleta de fuerza y profesor particular, he
      desarrollado una gran capacidad de trabajo, disciplina y perseverancia, de
      las que me veo beneficiado a la hora de codear.
    </p>
  </Section>
  <Section id="skills">
    <SectionHeader>
      <SkillsIcon />
      <HeadingSecondary text="Skills" />
    </SectionHeader>
    <section class="flex items-center justify-between">
      <img class="skill" src="./Logos/HTML.webp" alt="Skill Logo" />
      <img class="skill" src="./Logos/CSS.webp" alt="Skill Logo" />
      <img class="skill" src="./Logos/Javascript.webp" alt="Skill Logo" />
      <img class="skill" src="./Logos/Astro.webp" alt="Skill Logo" />
      <img class="skill" src="./Logos/React.webp" alt="Skill Logo" />
      <img class="skill" src="./Logos/Tailwind.webp" alt="Skill Logo" />
      <img class="skill" src="./Logos/Git.webp" alt="Skill Logo" />
    </section>
  </Section>
  <Section id="projects">
    <SectionHeader>
      <ProjectsIcon />
      <HeadingSecondary text="Projects" />
      <Projects />
    </SectionHeader>
  </Section>
</Layout>
