---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import HeadingSecondary from "../components/HeadingSecondary.astro";
import Section from "../components/Section.astro";
import SectionHeader from "../components/SectionHeader.astro";
import Projects from "../components/Projects.astro";
import AboutIcon from "../components/icons/AboutIcon.astro";
import SkillsIcon from "../components/icons/SkillsIcon.astro";
import ProjectsIcon from "../components/icons/ProjectsIcon.astro";
import BlogIcon from "../components/icons/BlogIcon.astro";
import CVBtn from "../components/CVBtn.astro";
import Socials from "../components/Socials.astro";
import Blog from "../components/Blog.astro";
---

<Layout title="Frank.dev">
  <div>
    <img
      src="/Hero-Img.webp"
      alt="Hero Image"
      width="250"
      height="auto"
      class="hero-img"
    />
  </div>
  <h1 class="text-5xl">Hi! I'm Frank!</h1>
  <div class="flex gap-4 items-center justify-center">
    <span class="bg-white text-main text-xl rounded-md py-1 px-2 m-3 font-black"
      >Frontend Developer</span
    >
    <CVBtn />
  </div>
  <Section id="about">
    <SectionHeader>
      <AboutIcon />
      <HeadingSecondary text="About" />
    </SectionHeader>
    <p class="text-justify leading-7">
      Mi nombre es Francisco Muñoz, aunque en redes soy Frank, en las que me
      dedico a crear contenido sobre programación. Soy estudiante del Grado
      Superior de Desarrollo de Aplicaciones Web, además de formarme mediante
      cursos certificados.<br />
      Descubrí la programación estudiando la carrera de Ingeniería Electrónica Industrial,
      pero decidí emprender mi camino hacia el desarrollo.
    </p>
    <p class="text-justify">
      Además, como guitarrista, atleta de fuerza y profesor particular, he
      desarrollado una gran capacidad de trabajo, disciplina y perseverancia, de
      las que me veo beneficiado a la hora de codear.
    </p>
    <Socials />
  </Section>
  <Section id="skills">
    <SectionHeader>
      <SkillsIcon />
      <HeadingSecondary text="Skills" />
    </SectionHeader>
    <section class="skillsContainer flex items-center justify-between">
      <img class="skill" src="/Logos/HTML.webp" alt="HTML Logo" />
      <img class="skill" src="/Logos/CSS.webp" alt="CSS Logo" />
      <img class="skill" src="/Logos/Javascript.webp" alt="Javascript Logo" />
      <img class="skill" src="/Logos/Astro.webp" alt="Astro Logo" />
      <img class="skill" src="/Logos/React.webp" alt="React Logo" />
      <img class="skill" src="/Logos/Tailwind.webp" alt="Tailwind Logo" />
    </section>
  </Section>
  <Section id="projects">
    <SectionHeader>
      <ProjectsIcon />
      <HeadingSecondary text="Projects" />
    </SectionHeader>
    <Projects />
  </Section>
  <Section id="blog">
    <SectionHeader>
      <BlogIcon />
      <HeadingSecondary text="Blog" />
    </SectionHeader>
    <Blog />
  </Section>
</Layout>

<style>
  @media (670px>=width) {
    h1 {
      font-size: 2.5rem;
    }
    p {
      font-size: 95%;
    }
    span {
      font-size: 1rem;
    }
    .skillsContainer {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
    }
    .skill {
      margin: auto;
    }
  }
</style>
