---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import HeadingSecondary from "../components/HeadingSecondary.astro";
import Section from "../components/Section.astro";
import SectionHeader from "../components/SectionHeader.astro";
import Projects from "../components/Projects.astro";
import AboutIcon from "../components/icons/AboutIcon.astro";
import SkillsIcon from "../components/icons/SkillsIcon.astro";
import ProjectsIcon from "../components/icons/ProjectsIcon.astro";
import BlogIcon from "../components/icons/BlogIcon.astro";
import Socials from "../components/Socials.astro";
import Blog from "../components/Blog.astro";
import Freelance from "../components/Freelance.astro";
import FreelanceIcon from "../components/icons/FreelanceIcon.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Frank.dev">
  <Hero client:load />
  <Section id="about">
    <SectionHeader>
      <AboutIcon />
      <HeadingSecondary text="¿Quién soy?" />
    </SectionHeader>
    <p class="leading-7">
      Mi nombre es Francisco Muñoz, desarrollador web freelance. Actualmente
      cursando el Grado Superior de Desarrollo de Aplicaciones Web, además de
      formarme continuamente mediante cursos certificados.<br />
      Descubrí la programación estudiando la carrera de Ingeniería Electrónica Industrial,
      pero decidí emprender mi camino hacia el desarrollo.
      <br />
      También me dedico a crear contenido relacionado con la programación, para hacer
      mas ameno el camino a los que inician.
    </p>
    <Socials />
  </Section>
  <Section id="freelance">
    <SectionHeader>
      <FreelanceIcon />
      <HeadingSecondary text="¿Necesitas una web?" />
    </SectionHeader>
    <Freelance />
  </Section>
  <Section id="skills">
    <SectionHeader>
      <SkillsIcon />
      <HeadingSecondary text="Stack" />
    </SectionHeader>

    <section class="skillsContainer flex items-center justify-between">
      <div class="skill-item flex flex-col items-center">
        <img class="skill" src="/Logos/HTML.webp" alt="HTML Logo" />
        <span class="spanSkill">HTML</span>
      </div>
      <div class="skill-item flex flex-col items-center">
        <img class="skill" src="/Logos/CSS.webp" alt="CSS Logo" />
        <span class="spanSkill">CSS</span>
      </div>
      <div class="skill-item flex flex-col items-center">
        <img class="skill" src="/Logos/Javascript.webp" alt="Javascript Logo" />
        <span class="spanSkill">Javascript</span>
      </div>
      <div class="skill-item flex flex-col items-center">
        <img class="skill" src="/Logos/React.webp" alt="React Logo" />
        <span class="spanSkill">React</span>
      </div>
      <div class="skill-item flex flex-col items-center">
        <img class="skill" src="/Logos/Astro.webp" alt="Astro Logo" />
        <span class="spanSkill">Astro</span>
      </div>

      <div class="skill-item flex flex-col items-center">
        <img class="skill" src="/Logos/Tailwind.webp" alt="Tailwind Logo" />
        <span class="spanSkill">Tailwind</span>
      </div>
    </section>
  </Section>
  <Section id="projects">
    <SectionHeader>
      <ProjectsIcon />
      <HeadingSecondary text="Proyectos" />
    </SectionHeader>
    <Projects />
  </Section>
  <Section id="blog">
    <SectionHeader>
      <BlogIcon />
      <HeadingSecondary text="Blog de desarrollo" />
    </SectionHeader>
    <Blog />
  </Section>
</Layout>
<style is:global>
  @keyframes slide-up {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  .animate-slide-up {
    animation: slide-up 0.75s ease-in-out;
  }
  @media (670px>=width) {
    h1 {
      font-size: 2.5rem;
    }
    p {
      font-size: 95%;
    }
    span {
      font-size: 1rem;
    }
    .skillsContainer {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
    }
    .skill {
      margin: auto;
    }
  }
  @media (width<=420px) {
    .span {
      font-size: 1rem;
    }
  }
</style>
