---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Frank.dev">
  <div>
    <img src="./Hero-Img.webp" alt="Hero Image" width="300" height="auto" />
  </div>
  <h1>Hi there! Im Frank!</h1>
  <span>Frontend Developer</span>
</Layout>
