---
import Nav from "./Nav.astro";
---

<header class="w-full mx-auto lg:max-w-4xl md:max-w-2xl my-5">
  <nav class="flex items-center justify-center">
    <Nav />
  </nav>
</header>

<style>
  @media (950px>=width) {
    header {
      padding: 0 1rem;
    }
  }
</style>
