---
import CVBtn from "./CVBtn.astro";
import ParticlesBG from "./ParticlesBG.jsx";
---

<section>
  <div class="">
    <img
      src="/Hero-Img.webp"
      alt="Hero Image"
      width="250"
      height="auto"
      class="hero-img"
    />
  </div>
  <h1 class="text-5xl text-center animate-slide-up mb-4">
    Hey, soy <span class="text-main text-6xl font-black">Frank</span>!
  </h1>
  <div class="flex items-center justify-center">
    <article>
      <span
        class="span bg-white text-main text-xl rounded-3xl py-1 px-3 m-3 font-black animate-slide-up max-sm:text-sm"
        >Frontend Developer</span
      >
    </article>
    <CVBtn />
  </div>
  <ParticlesBG client:load />
</section>
