---

---

<div class="container flex items-center justify-between">
  <a href="/">
    <img src="/Logo.webp" alt="Frank's Logo" class="logo w-48" />
  </a>
  <nav class="flex gap-8 items-center">
    <a href="/#about" class="nav-link">About</a>
    <a href="/#skills" class="nav-link">Skills</a>
    <a href="/#projects" class="nav-link">Projects</a>
    <a href="/#blog" class="nav-link">Blog</a>
  </nav>
</div>

<style>
  .nav-link {
    position: relative;
    z-index: 1;
  }

  .nav-link::before {
    content: "";
    width: 0;
    height: 12px;
    border-radius: 2px;
    background-color: var(--main-color);
    position: absolute;
    z-index: -1;
    bottom: -0.05rem;
    left: 50%;
    transition:
      width 0.35s,
      left 0.35s;
  }

  .nav-link:hover::before {
    width: 100%;
    left: 0;
  }

  @media (950px>=width) {
    .logo {
      width: 8rem;
    }
  }
  @media (650px>=width) {
    .container {
      flex-direction: column;
      gap: 2rem;
    }
    .logo {
      width: 12rem;
    }
  }
</style>
