---
import ThemeIcon from "./ThemeIcon.astro";
---

<div class="flex items-center justify-between">
  <img src="./Logo.webp" alt="Frank's Logo" class="w-48" />
  <nav class="flex gap-5 items-center">
    <a href="#">Home</a>
    <a href="#">About me</a>
    <a href="#">Projects</a>
    <ThemeIcon />
  </nav>
</div>
