---
import "../styles/global.css";
---

<section
  class="grid grid-cols-2 gap-x-16 gap-y-5 justify-between w-[90%] mx-auto"
>
  <div>
    <h4 class="spanSkill">Iconos</h4>
    <div class="container">
      <a href="https://hugeicons.com">
        <img src="/Resources/HugeIcons.avif" alt="Huge Icons Logo" />
        <span>Huge Icons</span>
      </a>
      <a href="https://fontawesome.com/icons">
        <img src="/Resources/FontAwesome.avif" alt="Font Awesome Logo" />
        <span>Font Awesome</span>
      </a>
      <a href="https://tabler.io/icons">
        <img src="/Resources/TablerIcons.avif" alt="Tabler Icons Logo" />
        <span>Tabler Icons</span>
      </a>
    </div>
  </div>
  <div>
    <h4 class="spanSkill">Imágenes</h4>
    <div class="container">
      <a href="https://unsplash.com/">
        <img src="/Resources/Unsplash.avif" alt="Unsplash Logo" />
        <span>Unsplash</span>
      </a>
      <a href="https://www.pexels.com/es-es/">
        <img src="/Resources/Pexels.avif" alt="Pexels Logo" />
        <span>Pexels</span>
      </a>
      <a href="https://www.drawkit.com/">
        <img src="/Resources/Drawkit.avif" alt="DrawKit Logo" />
        <span>DrawKit</span>
      </a>
    </div>
  </div>
  <div>
    <h4 class="spanSkill">Colores</h4>
    <div class="container">
      <a href="https://mycolor.space/">
        <img src="/Resources/ColorSpace.avif" alt="ColorSpace Logo" />
        <span>ColorSpace</span>
      </a>
      <a href="https://pinetools.com/darken-color">
        <img src="/Resources/DarkenColor.avif" alt="Darken Color Logo" />
        <span>Darken Color</span>
      </a>
      <a href="https://colorhunt.co/">
        <img src="/Resources/ColorHunt.avif" alt="Color Hunt Logo" />
        <span>Color Hunt</span>
      </a>
    </div>
  </div>
  <div>
    <h4 class="spanSkill">Herramientas</h4>
    <div class="container">
      <a href="https://squoosh.app/">
        <img src="/Resources/Squoosh.avif" alt="Squoosh Logo" />
        <span>Squoosh</span>
      </a>
      <a href="https://fonts.google.com/">
        <img src="/Resources/GoogleFonts.avif" alt="Google Fonts Logo" />
        <span>Google Fonts</span>
      </a>
      <a href="https://remove.bg/">
        <img src="/Resources/RemoveBG.avif" alt="Remove.bg Logo" />
        <span>Remove.bg</span>
      </a>
    </div>
  </div>
  <div>
    <h4 class="spanSkill">Inspiración</h4>
    <div class="container">
      <a href="https://dribbble.com/">
        <img src="/Resources/Dribbble.avif" alt="Dribbble Logo" />
        <span>Dribbble</span>
      </a>
      <a href="https://land-book.com/">
        <img src="/Resources/LandBook.avif" alt="Land-book Logo" />
        <span>Land-book</span>
      </a>
      <a href="https://youtube.com/">
        <img src="/Resources/Youtube.avif" alt="YouTube Logo" />
        <span>YouTube</span>
      </a>
    </div>
  </div>
  <div>
    <h4 class="spanSkill">Otros</h4>
    <div class="container">
      <a href="https://udemy.com/">
        <img src="/Resources/Udemy.avif" alt="Udemy Logo" />
        <span>Udemy</span>
      </a>
      <a href="https://uiverse.io/">
        <img src="/Resources/Uiverse.avif" alt="Uiverse Logo" />
        <span>Uiverse</span>
      </a>
      <a href="https://canva.com/">
        <img src="/Resources/Canva.avif" alt="Canva Logo" />
        <span>Canva</span>
      </a>
    </div>
  </div>
</section>

<style>
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  span {
    text-align: center;
    font-size: 0.85rem;
  }
  h4 {
    margin-bottom: 1.2rem;
    font-size: 1.35rem;
    color: var(--main-color);
  }
  img {
    border-radius: 10000px;
    width: 60px;
    height: 60px;
    object-fit: cover;
    transition: all 0.2s;
  }
  img:hover {
    scale: 1.1;
  }
  span {
    margin-top: 8px;
  }
  .container {
    display: flex;
    gap: 3;
    align-items: center;
    justify-content: space-around;
  }
  @media (width<=930px) {
    section {
      column-gap: 1rem;
    }
  }
  @media (width<=830px) {
    img {
      width: 50px;
      height: 50px;
    }
    span {
      font-size: 0.75rem;
    }
  }
  @media (width<=680px) {
    section {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      justify-content: center;
    }
    img {
      width: 80px;
      height: 80px;
    }
    .container {
      justify-content: space-between;
      width: 80vw;
    }
  }
</style>
