---
const { class: className, id } = Astro.props;
---

<section
  id={id}
  data-section={id}
  {...Astro.props}
  class={`section ${className} mb-6 scroll-m-5 w-full mx-auto container lg:max-w-4xl md:max-w-2xl `}
>
  <slot />
</section>

<style>
  @media (width<=830px) {
    .section {
      max-width: 90vw;
    }
  }
  @media (650px>=width) {
    .section {
      max-width: 95vw;
    }
  }
</style>
